<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %> restaurant</h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<p><%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %></p>


<h2>Reviews:</h2>

<ul class="list-unstyled">
  <% @restaurant.reviews.each do |review| %>
    <li class="my-3">
    <% case review.rating %>
      <% when 0 %>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <% when 1 %>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <% when 2 %>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <% when 3 %>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <% when 4 %>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <% when 5 %>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    <% end %><span class="text-secondary">
    <%= " - \"" + review.content %>"</span></li>
  <% end %>
</ul>

<%= link_to "Back", restaurants_path, class: "btn btn-secondary" %>
